.option-page-header {
  color: $primary-yellow;
  margin-bottom: 1rem;
}

.product-landing-option-container {
  padding-top: 1rem;
}
.product-landing-page {
  button {
    min-height: 68px;
  }
  .product-option-note {
    padding-top: 0.5rem;
  }
}
