<span style="color: rgb(51, 51, 51); font-family: Verdana, helvetica, sans-serif; font-size: 14px; line-height: 20px; background-color: rgb(255, 255, 255); ">
  <p class="p1"><span class="s1" style="font-weight: bold;">The Next Generation of Covert Safes and Vaults </span></p>
  <p class="p1"><span class="s1">Console Vault</span><span class="s2">® </span><span class="s1">provides the latest in covert vaults and safes for government officials and consumers worldwide. </span><span class="s1">From Console Vault</span><span class="s2">®</span><span class="s1">'s innovative Vehicle Vaults that provide additional peace of mind, covert wall safes and vaults capable of outsmarting the most hardened of thieves, to the latest in security briefcases and gun and document transporters, Console Vault</span><span class="s2">®</span><span class="s1"> enables you to keep your valuables safe and secure. </span></p>
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1">Whether you're looking to keep your firearm secure in your SUV or ensure your most confidential documents travel with the utmost security on an international flight, Console Vault</span><span class="s2">®</span><span class="s1"> is the premier source for all of your high-security storage solutions. </span><span class="s1">Tried and True by the Professionals Console Vault</span><span class="s2">®</span><span class="s1">'s covert safes and vaults have long been a favorite by those with high-security needs. </span><span class="s1">Whether a law enforcement official in the Middle East or a business executive within a highly competitive industry, some of the world's most influential people have trusted their valuables with Console Vault</span><span class="s2">®</span><span class="s1">. </span></p>
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1">Console Vault</span><span class="s2">®</span><span class="s1">'s covert safes and vaults are perfect for:</span></p> <span style="text-align: center;">
    <div style="text-align: left;">
      <ul>
        <li>Military Personnel</li>
        <li>Government Officials</li>
        <li>Law Enforcement</li>
        <li>Security Personnel</li>
        <li>Business Executives</li>
        <li>Private Individuals</li>
      </ul></div></span> 
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1" style="font-weight: bold;">Safety and Security for Automobiles </span></p>
  <p class="p1"><span class="s1">Console Vault</span><span class="s2">®</span><span class="s1"> has created specialized Vehicle Vaults for law enforcement officials and others looking to equip their vehicles with the finest in protection and security for over eleven years. </span><span class="s1">Featuring Console Vault</span><span class="s2">®</span><span class="s1">'s superior five-point locking system and a high-security barrel lock with an optional keyless combination lock, each Vehicle Vault receives the finest attention to detail by our expert craftsmen. Made of 12-gauge cold-rolled plate </span><span class="s1">steel and refined with welded tabs and notch seams, Console Vault</span><span class="s2">®</span><span class="s1"> is the preferred automotive safe for thousands of law enforcement and government officials from around the world. </span></p> 
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1">Console Vault</span><span class="s2">®</span><span class="s1">'s Vehicle Vaults discretely fit inside the existing consoles of most trucks and SUVs. With the Vehicle Vault installed and the console lid closed, the Vehicle Vault remains completely hidden from view. The Vehicle Vault is only exposed when the console itself is opened, preventing you from attracting attention to your valuables. </span></p>
  <p class="p2"><span class="s1"></span></p> 
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1">The Vehicle Vault requires absolutely no modification to your vehicle's console and assembly takes less than ten minutes. Your original console can open and close just as it normally would, yet with the Vehicle Vault in place your belongings are now treated with the security and safety they deserve. </span></p>
  <p class="p2"><span class="s1"></span></p> 
  <p class="p1"><span class="s1"><br />
      </span></p>
  <p class="p1"><span class="s1" style="font-weight: bold;">Providing Peace of Mind</span></p>
  <p class="p1"><span class="s1">Whether you're looking for a portable gun transporter or a Vehicle Vault for your favorite truck, Console Vault</span><span class="s2">®</span><span class="s1"> has a solution for all of your security needs. Have a question you're not finding the answer to online? Please contact us! Our personable and knowledgeable staff is here to address your security needs and answer any of your questions.</span></p> </span>