<div style="text-align: center;"><span style="font-weight: bold; font-size: 14pt; ">Keyless Combination Instructions</span></div>
<div style="text-align: center;"><span style="font-style: italic; ">Note: Please make sure lid is in the open position before beginning the following steps. </span></div>
<div><span style="font-style: italic; "><br />
    </span></div>
<div>Instructions for setting your personal keyless combination: </div>
<div><br />
  </div>
<div>1. The combination is factory-set at 0 - 0 - 0.</div>
<div>2. The combination must be on opening number prior to resetting.</div>
<div>3. On the underside outer edge of the lock there is a hole for the code reset button. Rotate the face of cam until the code reset button comes into view.</div>
<div>4. Push this pin in with a paper clip and keep it pushed in.</div>
<div>5. Set your personal combination by turning the dials to the desired combination.</div>
<div>6. Release the reset button and your new combination is set.</div>
<div>7. To lock, rotate lock to “Locked” position. Rotate one or more dials after lock is closed.</div>
<div><br />
  </div>
<div>Then, to open the lock, turn dials to your personal combination.</div>