<span style="color: rgb(51, 51, 51); font-family: Verdana, helvetica, sans-serif; font-size: 14px; line-height: 20px; background-color: rgb(255, 255, 255); ">For our popular line of custom automotive Console Vaults, buyers have the option of selecting from two available lock types. Simply select which option you best prefer when adding your Console Vault into your shopping cart and your desired model and lock will be readily shipped to you.</span>
<div><br />
  </div>
<div><span style="font-weight: bold; font-size: 14pt; color: rgb(14, 79, 144); ">BARREL KEY LOCK</span></div>
<div><span style="color: rgb(51, 51, 51); font-family: Verdana, helvetica, sans-serif; font-size: 14px; line-height: 20px; background-color: rgb(255, 255, 255); ">The Barrel Key Lock features a highly secure lock that is opened via a rugged barrel-style key. Buyers selecting the Barrel Key Lock are provided with two sets of keys with their purchase. </span></div>
<div><br />
  </div>
<div><img src="assets/images/console-vault-barrel-key.jpg" alt="" align="middle" border="0px" /></div>
<div><br />
  </div>
<div><br />
  </div>
<div><span style="font-weight: bold; font-size: 14pt; color: rgb(14, 79, 144); ">KEYLESS 3 COMBO LOCK</span></div>
<div><span style="color: rgb(51, 51, 51); font-family: Verdana, helvetica, sans-serif; font-size: 14px; line-height: 20px; background-color: rgb(255, 255, 255); ">The Keyless 3 Combo Lock is the most popular option among buyers at Console Vault. Featuring a keyless option that avoids the possibility of losing one's key, the Keyless 3 Combo Lock device uses a manual three-digit combination for its locking mechanism. </span></div>
<div><br />
  </div>
<div><img src="assets/images/console-vault-keyless-combo.jpg" alt="" align="middle" border="0px" /></div>
<div><br />
  </div>
<div><br />
  </div> <span style="color: rgb(14, 79, 144); font-size: 19px; font-weight: bold; ">KEYLESS 4-DIGIT COMBINATION LOCK | NEW!</span>
<div><span style="color: rgb(51, 51, 51); font-family: Verdana, helvetica, sans-serif; font-size: 14px; line-height: 20px; background-color: rgb(255, 255, 255); ">The new 4-Digit Mechanical Lock is for those requiring the ultimate in security. Featuring all metal components and easy-to-read numbers, the new 4-Digit Mechanical Lock provides you with 10,000 possible combinations to store and lock your valuables.</span></div>
<div><span style="font-size: 14px; line-height: 20px; font-family: Verdana, helvetica, sans-serif; color: rgb(51, 51, 51); "><br />
    </span></div>
<div><img src="assets/images/4-Digit-Combo-Lock.jpg" alt="" align="middle" border="0px" /><span style="font-size: 14px; line-height: 20px; font-family: Verdana, helvetica, sans-serif; color: rgb(51, 51, 51); "><br />
    </span><br />
  
  <div style="text-align: center;"><span style="font-weight: bold; font-size: 14pt; font-family: Arial; color: rgb(17, 94, 171); ">KEYLESS COMBINATION INSTRUCTIONS</span></div>
  <div style="text-align: center;"><span style="font-style: italic; ">Note: Please make sure lid is in the open position before beginning the following steps. </span></div>
  <div><span style="font-style: italic; "><br />
      </span></div>
  <div>Instructions for setting your personal keyless combination: </div>
  <div><br />
    </div>
  <div>1. The combination is factory-set at 0 - 0 - 0.</div>
  <div>2. The combination must be on opening number prior to resetting.</div>
  <div>3. On the underside outer edge of the lock there is a hole for the code reset button. Rotate the face of cam until the code reset button comes into view.</div>
  <div>4. Push this pin in with a paper clip and keep it pushed in.</div>
  <div>5. Set your personal combination by turning the dials to the desired combination.</div>
  <div>6. Release the reset button and your new combination is set.</div>
  <div>7. To lock, rotate lock to “Locked” position. Rotate one or more dials after lock is closed.</div>
  <div><br />
    </div>
  <div>Then, to open the lock, turn dials to your personal combination.</div> </div>