<style>
<!--
#extrapage-header { background-image: url("assets/templates/[template]/images/partner-header.jpg"); display: block; }
-->
</style>
<p class="about-tagline">Join our referral program and make money!</p>
<p>Console Vault's partner program is an excellent way to generate additional revenue for your company, providing you with a generous 10% commission for all sales you refer to our website through your website, blog, or the forums you actively participate in. Once an order is closed from one of your referrals, you will receive an email confirming your referral and earnings. You will then receive a generous 10% commission of the order total, which will be sent to you via check at the end of every month. <br />
  </p>
<p>In order to become a Console Vault partner, simply complete the form below. We will contact you within 48 hours after submission of your form to complete the partner application process. <br />
  </p>
<p>Note: Console Vault reserves the right to limit access to our partner program based on geographical area and your partner application.</p><br />

<button id="join-here">Join Here</button>
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function (e) { jQuery('button#join-here').click(function () { jQuery.modal('&lt;iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfnqwUX_dxkHLZUUe26taLRe4lsIzfs2TjFa1rIRd1YbDKZgQ/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0"&gt;Loading...&lt;/iframe&gt;', { containerCss: { backgroundColor: "#fff", padding: 10, height: 655, padding: 10, width: 780, overflow: "" }, overlayClose: true, autoResize: true }); }); });
//]]>
</script>