<style type="text/css">

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
</style>

<script type="text/javascript">
	var addReplyClick = 0;
	
	function submitFormContactUs(strAction) {	
		document.frmForm.action.value = strAction;
		document.frmForm.submit();
	}
	function addNew() {
		var strMsg = "";
		if (document.frmForm.customer.value.trim() == "")
			strMsg += " - [crm_name] cannot be blank.\n";
		if (document.frmForm.custemail.value.trim() == "" || !isValidEmail(document.frmForm.custemail.value))
			strMsg += " - [crm_email] cannot be blank and must be a valid email address.\n";
		if (document.frmForm.subject.value.trim() == "")
			strMsg += " - [crm_subject] cannot be blank.\n";
		if (document.frmForm.reply.value.trim() == "")
			strMsg += " - [crm_message] cannot be blank.\n";
		//<!--START: captchascript-->
		if (document.frmForm.ramdomWord.value.trim() == "")
			strMsg += " - Verification word cannot be blank.\n";			
		//<!--END: captchascript-->
            
		if (ExistsCreditCard(jQuery('#reply').val()))
		strMsg += "[ccNumerNotAllowedMessage]";
		
		if (strMsg != "") {
			alert(strMsg);
			return false;
		}
		if (addReplyClick == 0) {
			addReplyClick = 1;
			submitFormContactUs('addnew');
		}
	
	}
	String.prototype.trim = function() {
		return this.replace(/^\s+|\s+$/g,"");
	}
	function isValidEmail(str) {
	
		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		
		if (str.indexOf(at)==-1)
		return false
	
		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr)
		return false
	
		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr)
			return false
	
		if (str.indexOf(at,(lat+1))!=-1)
			return false
	
		if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot)
			return false
	
		if (str.indexOf(dot,(lat+2))==-1)
			return false
		
		if (str.indexOf(" ")!=-1)
			return false
	
		return true					
	}
</script>

<section id="contactUs">
	<!--START: BODY_HEADER-->
	<div class="breadcrumbs"><a href="">[frame_breadcrumb-home]</a> > <a href="crm.asp?action=contactus">[account_contact-us]</a></div>
	<!--END: BODY_HEADER-->
	<h1 class="page_headers">[account_contact-us]</h1>
	<!--START: CATEGORY_HEADER-->
	<div class="category-header" id="contactUsHeader">[CONTENT]</div>
	<!--END: CATEGORY_HEADER-->
	<div class="storeInfo pad10 boxShadow">
		<div class="header">
			<h3>[store_name]</h3>
		</div>
		<div class="store-address1 item">[store_address1]</div>
		<div class="store-address2 item">[store_address2]</div>
		<div class="store-city item">[store_city], [store_state]. [store_zip]</div>
		<div class="store-country item">[store_country]</div>
		<div class="item"><strong>Phone:</strong> [store_phone]</div>
		<div>&nbsp;</div>
		<div><strong>Hours of Operation</strong></div>
		<div>Sunday <i>Closed</i></div>
		<div>Monday - Friday <i>8am-5pm</i></div>
		<div>Saturday <i>Closed</i></div>
		<div class="button store-loc"><a href="http://maps.google.com/maps?oi=map&q=[store_address1]+[store_city]+[store_state]+[store_zip]" target="_blank"><i class="icon-location"></i> Get Directions</a></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
    <!--START: crm_form-->
	<div class="crmForm pad10 boxShadow">
		<form method="post" action="crm.asp" id="frmForm" name="frmForm" onsubmit="addNew()">
			<input type="hidden" name="action" id="action" value="" />
			<input type="hidden" name="custid" value="[custid]" />
			<input type="hidden" name="orderid" value="[orderid]" />
			<input type="hidden" name="productid" value="[productid]" />
			<div class="header">
				<h3>[account_contact-us-form]</h3>
			</div>
			<div class="crmField">
				<label for="departmentid">[crm_department]:</label>
				<select name="departmentid" id="departmentid" tabindex="1" class="txtBoxStyle">
					[deptdropdown]
				</select>
				<div class="clear"></div>
			</div>
			<div class="crmField">
				<label for="customer">[crm_name]:</label>
				<input type="text" name="customer" value="[name]" size="40" maxlength="50" tabindex="2" class="txtBoxStyle" />
				<div class="error-img"><img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="Error" /></div>
				<div class="clear"></div>
			</div>
			<div class="crmField">
				<label for="phone">[crm_phone]:</label>
				<input type="text" name="phone" value="[phone]" size="40" maxlength="50" tabindex="3" class="txtBoxStyle" />
				<div class="clear"></div>
			</div>
			<div class="crmField">
				<label for="custemail">[crm_email]:</label>
				<input type="email" name="custemail" value="[email]" size="40" maxlength="50" tabindex="4" class="txtBoxStyle" />
				<div class="error-img"><img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="Error" /></div>
				<div class="clear"></div>
			</div>
			<div class="crmField">
				<label for="subject">[crm_subject]:</label>
				<input name="subject" type="text" id="subject" value="" size="40" maxlength="150" tabindex="5" class="txtBoxStyle" />
				<div class="error-img"><img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="Error" /></div>
				<div class="clear"></div>
			</div>
			<div class="crmField">
				<label for="reply">[crm_message]:</label>
				<textarea name="reply" id="reply" tabindex="6" class="txtBoxStyle"></textarea>
				<div class="error-img"><img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="Error" /></div>
				<div class="clear"></div>
			</div>
			<!--START: crmFileAttachments-->
			<div class="file-attachments-button">
				<span class="btn fileinput-button" onmouseover="this.className = 'btn_over fileinput-button'" onmouseout="	this.className = 'btn fileinput-button'">
					<i class="icon-plus"></i>
					<span>Select files...</span>
					<!-- The file input field used as target for the file upload widget -->
					<input id="fileupload" type="file" name="files[]" multiple="" data-url="/filesaction.asp?action=upload&folder=temp&hid=[filehash]" onclick='fnCountReset();'">
				</span>
			</div>
			<script type="text/javascript" src="js/vendor/jquery.ui.widget.js"></script>
			<script type="text/javascript" src="js/jquery.iframe-transport.js"></script>
			<script type="text/javascript" src="js/jquery.fileupload.js"></script>
			<script type="text/javascript">
                function fnCountReset() {
                    intFileCount = 0;
                    intFileDeleted = 0;
                }

                var bUploading = false;
                var intFileCount = 0;
                var intFileDeleted = 0;

				var list = [];
				jQuery(function () {
					jQuery("#fileattachment").val('');


					jQuery('#fileupload').fileupload({
						dataType: 'json',
						add: function (e, data) {
						    intFileCount = intFileCount + 1;
							var extn = "", filename = "";
							var intFilesUploaded = 0;

							if (jQuery("#fileattachment").val() != "") {
							    intFilesUploaded = jQuery("#fileattachment").val().split(",").length;
							}

							intFileTotal = intFilesUploaded + intFileCount - intFileDeleted
							if (intFileTotal > 4) {
							    alert("[crm_filelimit]");
							    return false;
							}
							else {
							    var filename = data.files[0].name;

							    if (filename.lastIndexOf(".") > 0) {
							        extn = filename.substring(filename.lastIndexOf(".") + 1, filename.length);
							        if (extn.toLowerCase() == "gif" || extn.toLowerCase() == "jpg" || extn.toLowerCase() == "jpeg" || extn.toLowerCase() == "png" || extn.toLowerCase() == "bmp" || extn.toLowerCase() == "psd" || extn.toLowerCase() == "tif" || extn.toLowerCase() == "zip" || extn.toLowerCase() == "doc" || extn.toLowerCase() == "docx" || extn.toLowerCase() == "pdf" || extn.toLowerCase() == "rtf") {
							            data.context = jQuery('<p/>').text('Uploading...').appendTo(document.body);
							            data.submit();
							        }
							        else {
							            alert("[crm_fileextensions]");
							        }
							    }
							}

						},
						done: function (e, data) {
							jQuery("#allelements").empty();
							jQuery("#fileattachment").empty();

							jQuery.each(data.result.files, function (index, file) {

								var filenamewithoutextension = file.uniqueFileName.substr(0, file.uniqueFileName.lastIndexOf('.')) || file.uniqueFileName;

								var strlink = "<span onclick='deleteFile(\"" + file.uniqueFileName + "\");'><i class='icon-cancel'></i></span>";
								var strFileDownloadLink = "filesaction.asp?action=download&hid=[filehash]&folder=temp&file=" + file.uniqueFileName + "";
								jQuery("#files").append('<p id="' + file.uniqueFileName + '"  class="' + filenamewithoutextension + '"  ><a id=' + filenamewithoutextension + ' href= ' + strFileDownloadLink + '>' + file.name + '</a><span class="item-remove" >' + strlink + '</span></p>');

								list.push(file.uniqueFileName);

							});

							jQuery("#fileattachment").val(list);


						},
						progressall: function (e, data) {
							bUploading = true;
							var progress = parseInt(data.loaded / data.total * 100, 10);
							if (progress >= 100)
								bUploading = false;

							jQuery('#progress .bar').css(
								'width',
								progress + '%'
							);
						},
					});
				});

				function deleteFile(fileName) {
					var delyesno = (confirm("[crm_confirm-delete]"));
					if (delyesno) {
						jQuery.get('filesaction.asp',
						{
							action: "delete",
							file: fileName,
							hid: '[filehash]',
							folder: "temp",
							confirm: true,
							crmid: 0
						},
						function (result) {
							try {
								var msg = result.errorMsg;
								if (msg != '' && msg != undefined) {
									alert(msg);
									return false;
								}
							}
							catch (e) { }
						});

						jQuery('#progress .bar').css(
							'width',
							0 + '%'
						);

						var filenamewithoutextension = fileName.substr(0, fileName.lastIndexOf('.')) || fileName;
						var filenamewithoutextension = filenamewithoutextension.replace('(', '\\(');
						var filenamewithoutextension = filenamewithoutextension.replace(')', '\\)');

						jQuery('.' + filenamewithoutextension).remove();

						list.splice(list.indexOf(fileName), 1);
						jQuery("#fileattachment").val(list);

					}
					return false;
				}
			</script>
			<p></p>

			<div id="progress">
				<div class="bar" style="width: 0%;"></div>
			</div>
			<!-- The container for the uploaded files -->
			<div id="files" class="files-to-upload"></div>
			<input id="fileattachment" name="fileattachment" type="hidden" />
			<p id="allelements"></p>
			<!--END: crmFileAttachments-->
			<!--START: captcha-->
			<div class="crmField">
				<label for="ramdomWord">Verification:</label>
				<div class="captcha">
					<img src="admin/image_pw.asp" width="148" alt="" />
					<div class="captcha-text">Type the word above...</div>
					<input type="text" name="ramdomWord" id="ramdomWord" autocomplete="off" value="" size="25" maxlength="30" tabindex="7" class="txtBoxStyle" />
				</div>
				<div class="clear"></div>
			</div>
			<!--END: captcha-->
			<!--START: recaptcha-->
			<div class="crmField">
				<label for="recaptcha_challenge_field">Verification:</label>
				<div class="recaptcha">
					<script type="text/javascript">var RecaptchaOptions = { theme: '[recaptcha_theme]' };</script>
					<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=[recaptcha_key]"></script>
					<noscript>
						<iframe src="//www.google.com/recaptcha/api/noscript?k=[recaptcha_key]" height="300" width="500" frameborder="0"></iframe><br>
						<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
						<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
					</noscript>
				</div>
				<div class="clear"></div>
			</div>
			<!--END: recaptcha-->
            <!--START: recaptcharobot-->
            <script type="text/javascript">
                            var onSubmit = function (token) {
                                if ('[recaptcha_robot_size]' == 'invisible')
                                    jQuery("#frmForm").submit();
                            }
                            var onloadCallback = function () {
                                grecaptcha.render('[recaptcha_control]', {
                                    'sitekey': '[recaptcha_key]',
                                    'theme': '[recaptcha_robot_theme]',
                                    'size': '[recaptcha_robot_size]',
                                    'type': '[recaptcha_robot_type]',
                                    'callback': onSubmit
                                });
                            }
            </script>
            <script src="//www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
            <div id="divRobocop"></div>
            <div class="crmField">
                <!--START: verificationlabel--><label for="recaptcha_challenge_field">Verification:</label><!--END: verificationlabel-->&nbsp;
            </div>
            <!--END: recaptcharobot-->
			<div id="divSubmitButton">
				<button type="submit" id='submitted' name="submitted" class="btn"><i class="icon-pencil"></i> [crm_button-add-ticket]</button>
			</div>
		</form>
	</div>
	<div class="clear"></div>
	
	<iframe
		width="100%"
		height="450"
		frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmvnnkSM1n22vUmsn6qmRGaWmQwSCCheM&q=[store_address1]+[store_city]+[store_state]+[store_zip]" allowfullscreen>
	</iframe>
	
    <!--END: crm_form-->
	<!--START: CATEGORY_FOOTER-->
	<div class="category-footer" id="contactUsFooter">[CONTENT]</div>
	<!--END: CATEGORY_FOOTER-->
</section>
