<div class="row footer-container">
  <div class="columns small-12 medium-6 large-2 footer-logo-container">
    <img src="assets/templates/[template]/images/logo_mark.png" alt="Logo Mark">
  </div>
  <div class="columns small-12 large-4 footer-links">
    <ul>
      <li><a href="#">FAQS</a></li>
      <li><a href="#">Keyless Combo Instructions</a></li>
      <li><a href="#">Lock Types</a></li>
    </ul>
  </div>
  <div class="columns small-12 large-3 footer-links">
    <ul>
      <li><a href="#">Affiliate Program</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="columns small-12 large-3 footer-search-and-social">
    <div class="row">
      <div class="columns small-12">
        <div class="search-inner">
          <form method="get" name="searchForm" action="search.asp">
            <input type="text" class="mob-s-bar" name="keyword" value="" placeholder="[frame_search]">
            <input type="submit" name="search" value="" class="mob-s-bar-btn">
          </form>
        </div>
      </div>
      <div class="columns small-12">
        <p class="text-center">
          Let's stay connected!
        </p>
      </div>
      <div class="columns small-12 social-icon-links">
        <!--START: social_link_facebook--><a href="[social_link_facebook_url]" class="facebook" target="_blank" title="Like Us on Facebook"><i class="icon-facebook"></i></a><!--END: social_link_facebook-->
        <!--START: social_link_twitter--><a href="[social_link_twitter_url]" class="twitter" target="_blank" title="Follow Us on Twitter"><i class="icon-twitter"></i></a><!--END: social_link_twitter-->
        <!--START: social_link_instagram--><a href="[social_link_instagram_url]" class="instagram" target="_blank" title="Follow Us on Instagram"><i class="icon-instagramm"></i></a><!--END: social_link_instagram-->
      </div>
    </div>
  </div>
</div>
