<html>
  <body>
     <select class="shopby-dropdown-select-make" onChange="populateYear(this)">
         <option value="0">Select</option>
         <option value="Chevrolet">Chevrolet</option>
         <option value="Dodge">Dodge</option>
         <option value="Ford">Ford</option>
         <option value="GMC">GMC</option>
         <option value="Hummer">Hummer</option>
         <option value="Jeep">Jeep</option>
         <option value="Lincoln">Lincoln</option>
         <option value="Nissan">Nissan</option>
         <option value="Subaru">Subaru</option>
         <option value="Toyota">Toyota</option>
     </select>
      <select class="shopby-dropdown-select-year" onChange="populateModel(this)">
         <option value="0">Select</option>
     </select>
      <select class="shopby-dropdown-select-model" onChange="redirectToVaultPage(this)">
         <option value="0">Select</option>
     </select>
  </body>
</html>
