<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>[TITLE]</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
[META]
<script type="text/javascript" src="assets/templates/common-html5/js/modernizr.min.js"></script>
<script type="text/javascript" src="assets/templates/common-html5/js/utilities.js"></script>
<link rel="stylesheet" href="assets/templates/common-html5/quicksearch/quicksearch.css" type="text/css" media="screen" />
<link rel="stylesheet" href="assets/templates/common-html5/css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="assets/templates/common-html5/css/responsive.css" type="text/css" media="screen" />
<link rel="stylesheet" href="assets/templates/[template]/styles/[stylesheet]" type="text/css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/templates/common-html5/css/fontello.css" />
<!--[if IE 7]>
<link rel="stylesheet" href="assets/templates/common-html5/css/fontello-ie7.css" />
<![endif]-->
<!--START: FRAME_RSSFEEDS -->
<link rel="alternate" type="application/rss+xml" title="Featured Items (RSS 2.0)" href="[store_url]/rss.asp?type=home" />
<link rel="alternate" type="application/rss+xml" title="Products On Sale (RSS 2.0)" href="[store_url]/rss.asp?type=onsale" />
<link rel="alternate" type="application/rss+xml" title="New Releases (RSS 2.0)" href="[store_url]/rss.asp?type=newreleases" />
<link rel="alternate" type="application/rss+xml" title="Best Sellers (RSS 2.0)" href="[store_url]/rss.asp?type=bestsellers" />
<link rel="alternate" type="application/rss+xml" title="Latest Blog Posts (RSS 2.0)" href="[store_url]/rss.asp?type=blog" />
<script src="https://use.typekit.net/ufk1kuw.js"></script>
<!--END: FRAME_RSSFEEDS -->
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write("<script type=\"text/javascript\" src=\"/assets/templates/common-html5/js/jquery.min.js\"></" + "script>");
    }
</script>
</head>
<body>
<div id="mainContainer">
  <div class="site-top-bar">
    <div class="row site-top-bar-wrapper">
      <div class="columns small-12 top-bar-content">
        <div class="row" style="height:100%">
          <div class="top-bar-content-left columns small-4 large-5">
            <div class="mobile-nav-trigger hide-for-large">
              <div class="mobile-hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="logo-mark-container">
              <a href="[store_url]">
                <img src="assets/templates/[template]/images/logo_icon_dark.png" alt="Logo Mark" />
              </a>
            </div>
            <ul>
              <li>Free shipping with FEDEX Ground</li>
              <li><a href="/crm.asp?action=contactus">Hours of operation</a></li>
            </ul>
          </div>
          <div class="top-bar-content-right columns small-8 large-7">
            <div class="row align-right desktop-nav">
              <div class="columns small-8 right-user-links shrink" style="padding-right: 0;">
                <div class="account-links">
                  <!--START: login-->
                  <!--END: login-->
                  <!--START: username-->
                  <span class="truncate"><span class="show-for-large">Hello, </span>[username]</span>
                  <div class="spacer"></div>
                  <a href="logout.asp" class="link">Log out</a>
                  <div class="spacer"></div>
                  <!--END: username-->
                  <a href="myaccount.asp" class="link">My Account</a>
                </div>
              </div>
              <div class="columns small-4">
                <div class="row">
                  <div class="columns small-9">
                    <div id="searchBox" class="search-inner">
                      <form method="get" name="searchForm" action="search.asp">
                        <input type="text" id="searchlight" class="mob-s-bar" name="keyword" value="" placeholder="[frame_search]" />
                        <input type="submit" name="search" value="" class="mob-s-bar-btn"/>
                      </form>
                    </div>
                  </div>
                  <div class="columns small-3">
                    <a class="cart-link" href="/view_cart.asp"><img src="assets/templates/[template]/images/cart.png" alt="Shopping Cart" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mobile-top-links hide-for-large align-right">
              <div class="columns small-8 medium-6 mobile-links-left">
                <div class="mobile-search-trigger">
                  <img class="search-icon-mobile" src="assets/templates/[template]/images/search-icon-top.png" alt="Search" />
                </div>
                <a href="myaccount.asp" class="link"><img src="assets/templates/[template]/images/account-icon.png" alt="My Account" /></a>
                <a class="cart-link-mobile" href="/view_cart.asp"><img src="assets/templates/[template]/images/cart.png" alt="Shopping Cart" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-search-container hide-for-large">
    <div class="mobile-search-inner">
      <form method="get" name="searchForm" action="search.asp">
        <input type="text" class="mob-s-bar" name="keyword" value="" placeholder="[frame_search]">
        <input type="submit" name="search" value="" class="mob-s-bar-btn">
      </form>
    </div>
  </div>
  <div class="mobile-nav-container slide-hidden">
    <ul class="mobile-nav-menu">
      <li>
        <ul>
          <li>
            <a id="drill-down-mobile">SHOP BY VEHICLE</a>
            <nav id="shopby-drill-mobile">
              <div class="mobile-drilldown-content module cat-links">
                <div class="drilldown-inner">
                  <select class="shopby-dropdown-select-make" onChange="populateModel(this)">
                      <option value="0">Select Make</option>
                       <option value="Cadillac">Cadillac</option>
                      <option value="Chevrolet">Chevrolet</option>
		      <option value="Chrysler">Chrysler</option>
                      <option value="Dodge">Dodge</option>
                      <option value="Ford">Ford</option>
                      <option value="GMC">GMC</option>
                      <option value="Harley Davidson">Harley Davidson</option>
                      <option value="Hummer">Hummer</option>
                      <option value="Jeep">Jeep</option>
                      <option value="Lincoln">Lincoln</option>
                      <option value="Nissan">Nissan</option>
                      <option value="Subaru">Subaru</option>
                      <option value="Toyota">Toyota</option>
                  </select>
                </div>
                <div class="drilldown-inner">
                  <select class="shopby-dropdown-select-model" onChange="populateYear(this)">
                     <option value="0">Select Model</option>
                 </select>
                </div>
                <div class="drilldown-inner">
                   <select class="shopby-dropdown-select-year" onChange="redirectToVaultPage(this)">
                      <option value="0">Select Year</option>
                  </select>
                </div>
              </div>
            </nav>
          </li>
        </ul>
      </li>
      <li><a href="[store_url]/console-vault.html">CONSOLE VAULT</a></li>
	  <li><a href="[store_url]/secret-safe.html">WALL VAULT</a></li>
      <li><a href="[store_url]/security-briefcase.html">SECURITY BRIEFCASE</a></li>
      <li><a href="[store_url]/gun-transporter.html">GUN TRANSPORTER</a></li>
      <li><a href="[store_url]/Universal-Console-Vault-Safe_p_13.html">UNIVERSAL VAULT</a></li>
      <li><a href="[store_url]/ecommerce.html">ECOMMERCE</a></li>
      <li><a href="[store_url]/oem-customers.html">OEM</a></li>
      <li><a href="[store_url]/partner-network.html">PARTNER NETWORK</a></li>
      <li><a href="[store_url]/our-mission-and-vision.html">ABOUT US</a></li>
      <li><a href="[store_url]/crm.asp?action=contactus">Contact</a></li>
    </ul>
  </div>
  <header class="navigation-header">
    <div class="nav-header-content row">
      <div class="columns small-12 navigation-header-logo-container">
        <a href="http://sofaplace-preview-com.3dcartstores.com/">
          <!--START: global_header-->
          <h1 class="store-name">[storename]</h1>
          <h3 class="store-slogan">[storeslogan]</h3>
          <!--END: global_header-->
        </a>
      </div>
    </div>
    <div class="navigation-menu-container-wrapper">
      <div class="row">
        <div class="columns small-12 navigation-header-menu-container">
          <ul class="header-nav-menu">
            <li class="multi-dropdown-menu-container">
              <ul class="multi-dropdown-menu">
                <li class="nav-header-content">
                  <a id="drill-down">SHOP BY VEHICLE</a>
                  <nav class="nav-drill nav-dropdown hidden">
                    <div id="master-shopby-dropdown" class="module cat-links">
                      <div class="drilldown-cats">
                        <div class="header-bg">
                          <h1>SHOP BY VEHICLE</h1>
                          <h4>ENTER YOUR VEHICLE INFO SO WE CAN RECOMMEND THE RIGHT PRODUCTS FOR YOU</h4>
                        </div>
                      </div>
                      <div class="cat-drilldown-container">
                        <div class="cat-drilldown">
                          <div class="drilldown-inner">
                            <select class="shopby-dropdown-select-make" onChange="populateModel(this)">
                                <option value="0" disabled selected>Select Make</option>
                                <option value="Cadillac">Cadillac</option>
                                <option value="Chevrolet">Chevrolet</option>
				<option value="Chrysler">Chrysler</option>
                                <option value="Dodge">Dodge</option>
                                <option value="Ford">Ford</option>
                                <option value="GMC">GMC</option>
                                <option value="Harley Davidson">Harley Davidson</option>
                                <option value="Hummer">Hummer</option>
                                <option value="Jeep">Jeep</option>
                                <option value="Lincoln">Lincoln</option>
                                <option value="Nissan">Nissan</option>
                                <option value="Subaru">Subaru</option>
                                <option value="Toyota">Toyota</option>
                            </select>
                          </div>
                        </div>
                        <div class="cat-drilldown">
                          <div class="drilldown-inner">
                            <select class="shopby-dropdown-select-model" onChange="populateYear(this)">
                               <option value="0" disabled selected>Select Model</option>
                           </select>
                          </div>
                        </div>
                        <div class="cat-drilldown">
                          <div class="drilldown-inner">
                            <select class="shopby-dropdown-select-year" onChange="redirectToVaultPage(this)">
                               <option value="0" disabled selected>Select Year</option>
                           </select>
                          </div>
                        </div>
                      </div>
                      <span class="close-btn"><i class="icon-cancel-circled"></i></span>
                    </div>
					           <div class="clear"></div>
					           <div class="contact-us">Can't find your vehicle? <a href="/crm.asp?action=contactus">Contact us</a></div>
                  </nav>
                </li>
              </ul>
            </li>
            <li class="nav-dropdown-container products-dropdown">
              <a class="nav-target">PRODUCTS</a>
              <ul class="nav-cat-dropdown nav-dropdown hidden">
                <li><a href="[store_url]/console-vault.html">CONSOLE VAULT</a></li>
                <li><a href="[store_url]/secret-safe.html">WALL VAULT</a></li>
                <li><a href="[store_url]/security-briefcase.html">SECURITY BRIEFCASE</a></li>
                <li><a href="[store_url]/gun-transporter.html">GUN TRANSPORTER</a></li>
                <li><a href="[store_url]/Universal-Console-Vault-Safe_p_13.html">UNIVERSAL VAULT</a></li>
              </ul>
            </li>
            <li class="nav-dropdown-container customers-dropdown">
              <a class="nav-target">CUSTOMERS</a>
              <ul class="nav-cat-dropdown nav-dropdown hidden">
                <li><a href="[store_url]/ecommerce.html">ECOMMERCE</a></li>
                <li><a href="[store_url]/oem-customers.html">OEM</a></li>
                <li><a href="[store_url]/partner-network.html">PARTNER NETWORK</a></li>
              </ul>
            </li>
            <li class="nav-dropdown-container about-dropdown">
              <a class="nav-target">ABOUT</a>
              <ul class="nav-cat-dropdown nav-dropdown hidden">
                <li><a href="[store_url]/our-mission-and-vision.html">ABOUT US</a></li>

              </ul>
            </li>
            <li><a href="[store_url]/crm.asp?action=contactus">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="row slide-wrap-container">
    <div id="slidewrap"></div>
  </div>
  <div id="headingwrap"></div>
  <div class="wrapper row">
  <div id="extrapage-header"></div>
  <div id="mainContent">MIDDLE</div>
  </div>
  <footer>
      <div id="globalFooter" class="footer">[GLOBAL_FOOTER]</div>
      <div class="bottomBar">
      <div class="wrapper">
        <div id="copyright" class="footer">
          <div class="row copyright-wrapper">
            <div class="copyright columns small-12">
              [frame_copyright1]
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
</div>
<!--START: quicksearch-->
<script type="text/javascript" src="assets/templates/common-html5/quicksearch/jquery.quicksearch.js"></script>
<script type="text/javascript">
jQuery(function() {
	jQuery('#searchlight').searchlight('/search_quick.asp');
});
</script>
<!--END: quicksearch-->
<script type="text/javascript" src="assets/templates/[template]/js/functions.js"></script>
<script>
jQuery(document).ready(function(e) {

  jQuery('.nav-dropdown-container').hover(function() {
    jQuery('.nav-dropdown').not(jQuery(this).children('.nav-dropdown')).addClass('hidden');
    jQuery(this).children('.nav-dropdown').toggleClass('hidden');
  });

  jQuery('.search-icon-mobile').click(function() {
    jQuery('.mobile-search-container').toggleClass('shown');
  });

  jQuery('#drill-down').hover(function() {
    jQuery('.nav-dropdown').not(jQuery('#drilldown .nav-dropdown')).addClass('hidden');
    jQuery('.nav-drill').toggleClass('hidden');
  });

  jQuery('button#shop-by-vehicle').click(function() {
    if (jQuery('.mobile-nav-trigger').css('display') !== 'none') {
      jQuery('.mobile-nav-trigger').trigger('click');
    } else {
      jQuery('.nav-dropdown').not(jQuery('#drilldown .nav-dropdown')).addClass('hidden');
      jQuery('.nav-drill').toggleClass('hidden');
    }
  });

  jQuery('button#partner-join-here').click(function () {
      jQuery.modal('<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfnqwUX_dxkHLZUUe26taLRe4lsIzfs2TjFa1rIRd1YbDKZgQ/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>', {
          containerCss: {
              backgroundColor: "#fff",
              padding: 10,
              height: 655,
              padding: 10,
              width: 780,
              overflow: ""
          },
          overlayClose: true,
          autoResize: true
      });
  });

  jQuery('button#referral-join-here').click(function () {
      jQuery.modal('<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdvKLe0EF-MhmCrgBRZxdrt5wdOwbt8TIXgXlaN62FDFV0d1Q/viewform?embedded=true" marginheight="0" marginwidth="0" width="100%" height="3000" frameborder="0">Loading...</iframe>', {
          containerCss: {
              backgroundColor: "#fff",
              padding: 10,
              height: 655,
              padding: 10,
              width: 780,
              overflow: ""
          },
          overlayClose: true,
          autoResize: true
      });
  });


  jQuery('.nav-drill .close-btn').click(function() {
    jQuery('.nav-drill').addClass('hidden');
  });

	jQuery('#mob-search-trigger').click(function() {
		jQuery('#mob-search').fadeIn(300);
	});

	jQuery('#close_search_btn').click(function() {
		jQuery('#mob-search').fadeOut(300);
	});

  jQuery('.mobile-nav-trigger').click(function() {
      jQuery('.mobile-nav-container').toggleClass('slide-hidden');
  });

  if (jQuery('.drilldown-cats .cat-drilldown').length) {
    jQuery('.drilldown-cats .cat-drilldown').wrapAll('<div class="cat-drilldown-container"></div>');
  }

	createSticky(jQuery('.navigation-menu-container-wrapper'));
});

function createSticky(sticky) {

	if (typeof sticky !== 'undefined') {

		var	pos = sticky.offset().top,
				win = jQuery(window);

		win.on('scroll', function() {
    	win.scrollTop() >= pos - 54 ? sticky.addClass('fixed') : sticky.removeClass('fixed');
		});
	}
}
</script>
</body>
</html>
