body {
    background: $body-bg-color;
    font-family: $body-font;
    padding-top: $top-bar-height;
}

p, h1, h2 {
	-webkit-hyphens: manual !important;
	-moz-hyphens: manual !important;
	-ms-hyphens: manual !important;
	hyphens: manual !important;
}

hr {
    border: 0;
    height: 1px;
    background-color: #f0b527;
}

.text-center {
    text-align: center;
}

#extrapage-header {
    height: 180px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

#extrapage {
    background: white;
    margin: 0;
    padding: 2rem 3rem;
    padding-bottom: 4rem;
    .breadcrumbs {
        display: none;
    }
    @media screen and (max-width: 550px) {
        padding-left: 2rem;
    }
}

#mainContent {
    background: white;
}

#mainContentContent {
    padding: 2rem 3rem;
    padding-bottom: 4rem;
}

#frmForm {
    .crmField,
    .loginField {
        margin: 20px 0 0;
    }
}

.txtBoxStyle {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid $primary-yellow;
  color: #000;
  background-color: #fff;
  padding: 0.5rem;
  width: auto;
  font-weight: normal;
}

#simplemodal-container {
	border: 2px solid #f0b527 !important;
    iframe {
        margin-top: -200px;
    }
}

.no-scroll {
  overflow: hidden;
}

.align-middle {
  display: flex;
  align-items: middle;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}
