@mixin anchor-underline-hover() {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: black;
    }
  }
}

@mixin yellow-anchors() {
  a {
    color: $primary-yellow;
    text-decoration: none;
    &:visited {
      color: $primary-yellow;
    }
    &:hover {
      color: darken($primary-yellow, 20%);
    }
  }
}

@mixin dark-anchors() {
  a {
    color: $dark-text;
    text-decoration: none;
    &:visited {
      color: $dark-text;
    }
  }
}
