.search-area {
	float: left;
	width: 400px;
	margin: 0 100px 0 0;
	
	@media(max-width: 1023px) {
		float: none;
		margin: 0 auto;
		max-width: 400px;
		width: inherit;
	}
}

.searchBox {
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: 0;
	position: relative;
	/*border: 1px solid $border-color;
	@include hidden-mob;*/
}
.search-text {
	margin: 0;
	width: 100%;
	height: 35px;
	padding: 5px 55px 5px 7px;
	font-size: 14px;
	border: none;
	background: $secondary-color;
	font-style: italic;
	font-size: 15px;
	color: #010101;
}
.search-btn {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border: none;
	width: 49px;
	/*border-left: 1px solid $secondary-color;*/
	background: $primary-color url(../images/search-icon.png) no-repeat center center;
	-webkit-appearance: none;
	@include transition;
	cursor: pointer;
	
	&:hover {
		/*border-left: 1px solid $primary-color;*/
		background: $secondary-color url(../images/search-icon.png) no-repeat center center;
	}
}


.m-search-area {
	position: fixed;
	width: 300px;
	height: 140px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.95);
	z-index: 500;
	display: none;
	
	.search-area {
		width: 250px;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 34px;
		
		.searchBox {
			display: block;
		}
	}
	.mob-search-close {
		color: $secondary-color;
		font-size: 24px;
		padding: 5px;
		text-align: right;
		
		i {
			cursor: pointer;
		}
	}
}