/*******************************************************/
/*       Social Icons     */
/*******************************************************/
$social-icon-color: #fff;

.social-icons {
	margin-top: 30px;
	padding-top: 0;
	text-align: right;
	
	span {
		clear: both;
		color: #fff;
		display: block;
		font-size: 16px;
		font-style: italic;
		font-weight: 700;
		margin: 0 0 10px;
		text-transform: uppercase;
		width: 100%;
	}
	
	@media(max-width: 767px) {
		padding-top: 20px;
		text-align: center;
	}
}
.social-icons a {
	background: none;
    border-radius: 0;
    color: #90beff;
    display: inline-block;
    float: none;
    font-family: "fontello";
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    margin-bottom: 5px;
    margin-left: 19px;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    width: 28px;
	@include transition;
	
	@media(max-width: 600px) {
		color: #000;
	}
}

.social-icons a:first-child {
}
.social-icons a:hover {
	color: $social-icon-color;
	background: $primary-color;
	text-decoration: none;
}

.social-icons a.facebook {
	@media(max-width: 600px) {
		margin-left: 0;
	}
}
.social-icons a.facebook:after {
	content: '\e81b';
}
.social-icons a.twitter:after {
	content: '\e817';
}
.social-icons a.gplus:after {
	content: '\e819';
}
.social-icons a.youtube:after {
	content: '\e818';
}
.social-icons a.pinterest:after {
	content: '\e815';
}
.social-icons a.instagram:after {
	content: '\e813';
}
.social-icons a.tumblr:after {
	content: '\e816';
}
.social-icons a.blog:after {
	content: '\e809';
}