@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800');

// - Fonts
$body-font: 'Merriweather Sans', sans-serif;

// - Colors
$body-bg-color: #c1c1c1;
$primary-yellow: #f0b527;
$header-bg-color: #272727;
$footer-bg-color: $header-bg-color;
$dark: $header-bg-color;
$dark-text: $header-bg-color;

// - Dimens
$top-bar-height: 54px;
